@media screen and (max-width:991px) {

    h3 {
        font-size: 1.3rem;
    }


    .nav-toggle {
        display: block;
        margin-right: 20px;
    }
    .main-nav{
        overflow: initial;
        
        
    }
    
    .nav-link {
        
        position: absolute;
        background-color: white;
        left:-100%;
        top: 100%;
        width: 100%;
        padding-block: 20px;
        transition: 00.2s ease-in-out;
    }

    .nav-link.active{
        left: 0;
    }
    .nav-link ul{
        flex-direction: column;
    }

    .example-area {
        gap: 20px;
    }

    .example-card {
        width: calc(50% - 10px);
        height: 180px;


    }

    .example-card-1 {
        width: calc(50% - 10px);
        height: 180px;

    }

    .example-card-2 {
        width: calc(50% - 10px);
        height: 180px;

    }

    .example-card-3 {
        width: calc(50% - 10px);
        height: 180px;


    }

    .cta-section {
        padding-block: 800px;

    }
}


@media screen and (max-width:767px) {

    .primary-button {
        width: 100%;

    }

    .header-section {
        flex-direction: column-reverse;

    }

    .header-left {
        max-width: 100vw;
        text-align: center;
    }

    .feacture-card {

        max-width: calc(50% - 10px);
    }

    .big-feacture-containear {
        flex-direction: column;
    }

    .footer-containear {
        flex-direction: column;
        gap: 40px;
        text-align: center;
        align-items: center;
    }

    .link-colume {
        align-items: stretch;
    }
}



@media screen and (max-width:479px) {

    .root {
        --padding-inline-section: 10px;

    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    p{
        font-size: 1rem;
    }

    #reverse{
        flex-direction: column-reverse;
    }
    
    .feacture-card {

        max-width:100%;
        
    }

    .example-card{
        width: 100%;

    }
    .example-card-1{
        width: 100%;
        
    }
    .example-card-2{
        width: 100%;
        
    }
    .example-card-3{
        width: 100%;
        
    }
}