@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294bd;
    --accent-color-dark: #1069a3;
    --padding-inline-section: 20px;
}

body {
    font-family: 'Poppins', 'sans-serif';
    color: var(--primary-text-color);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-family: 'Roboto', 'sans-serif';
    font-size: 1.25rem;
    color: var(--secondary-text-color);

    line-height: 1.8rem;
}

a {
    text-decoration: none;
    display: inline-block;
}


ul {
    list-style-type: none;

}



/* utality-class */

.small-bold-text {
    font-size: 1rem;
    font-weight: 700;
}

.containear {
    max-width: 1180px;
    margin-inline: auto;
    padding: var(--padding-inline-section);
    overflow: hidden;

}


.flex {
    display: flex;
    align-items: center;

}

.hover-links {
    color: var(--primary-text-color);
    transition: 0.2s ease-out;
}

.hover-links:hover {
    color: var(--accent-color);

}

.primary-button {
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 700;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;
    text-align: center;

}

.primary-button:hover {
    background-color: var(--accent-color-dark);
}


.secondary-button {

    border: 0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    font-weight: 700;
    color: var(--primary-text-color) !important;
    padding: 12px 24px;
    transition: 0.2s ease-out;

}


.secondary-button:hover {
    border-color: var(--accent-color);
    color: var(--accent-color) !important;
}


/* top banner */

.top-banner {
    background-image: url('/img/asset\ 32.png');
    background-color: #4fb3d4;
    background-size: 300px;
}

.banner-text {
    color: white;
    padding: 15px 30px;
    text-align: center;

}


/* navbar */

.main-nav {
    margin-top: 20px;
    justify-content: space-between;
    position: relative;
    

}

.company-logo img {

    width: 200px;
}

.nav-link {

    flex-basis: 730px;
}

.nav-link ul {
    justify-content: end;
    gap: 40px;

}

.nav-toggle{
    display: none;
}


/* header-section */


header {
    padding: 50px var(--padding-inline-section) 0;

}

.header-section {
    justify-content: center;
    gap: 50px;
}

.header-left {
    max-width: 40vw;

}

.header-left h1 {
    margin-top: 20px;

}

.get-started-btn {
    margin: 20px;
}

.header-right img {
    width: 100%;

}

/* company -header-section */

.company-header {
    text-align: center;
    margin-block: 30px;
    color: var(--primary-text-color);

}

.logos {
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;


}

.logo {
    height: 46px;

}



/* fexture-section */


.feacture-section {

    padding: 80px var(--padding-inline-section) 0;
    background-image: url('/img/asset\ 32.svg');
    background-repeat: no-repeat;
    background-position: center;



    /* background-image: url(./img/asset\ 32.svg); */

}

.feacture-header {
    text-align: center;
    margin-bottom: 40px;
    

}

.feacture-header h2 {
    margin-bottom: 20px;
}


.feacture-area {
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;


}

.feacture-card {
    flex-direction: column;
    gap: 20px;
    max-width: 30%;
    text-align: center;
}

.feacture-card img {
    width: 60px;

}


/* big-feacture-section */

.big-feacture-section {
    padding: 30px var(--padding-inline-section) 0;
}

.big-feacture-containear {
    gap: 30px;

}

.feacture-img img {
    width: 100%;
}

.feacture-desc {
    flex-direction: column;
    align-items: flex-start;

}


/* example-section */

.example-section{
    padding: 80px var(--padding-inline-section)0;
}

.example-header {
    flex-direction: column;
    gap: 20px;
    text-align: center;

}

.example-area {
    justify-content: space-between;
    margin-block: 30px;
    flex-wrap: wrap;

}

.example-card {

    width: 23%;
    position: relative;
    height: 300px;
    background: black;
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url('/img/asset\ 36.jpeg');
    background-size: cover;
    transition: 0.2s ease-out;


}

.example-card:hover {
    box-shadow: 0 0 50px #888;
}

.example-card-1 {

    width: 23%;
    position: relative;
    height: 300px;
    background: black;
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url('/img/asset\ 37.jpeg');
    background-size: cover;
    transition: 0.2s ease-out;



}


.example-card-1:hover {
    box-shadow: 0 0 50px #888;
}

.example-card-2 {

    width: 23%;
    position: relative;
    height: 300px;
    background: black;
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url('/img/asset\ 38.jpeg');
    background-size: cover;
    transition: 0.2s ease-out;



}


.example-card-2:hover {
    box-shadow: 0 0 50px #888;
}

.example-card-3 {

    width: 23%;
    position: relative;
    height: 300px;
    background: black;
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url('/img/asset\ 39.jpeg');
    background-size: cover;
    transition: 0.2s ease-out;



}

.example-card-3:hover {
    box-shadow: 0 0 50px #888;
}

.card-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: white;


}


/* cta-section */

.cta-section-containear {
    flex-direction: column;
    gap: 30px;
    color: white;
    text-align: center;

}

.cta-section {
    padding: 120px var(--padding-inline-section) 80px;
    background-color: #183b54;
}

.cta-section-containear p {
    color: white;
    margin-top: 20px;

}

/* footer -section */

footer {
    padding-block: 80px;
    background-color: #ebf2fa;
}

.link-colume {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;


}

.footer-containear {
    align-items: flex-start;
    justify-content: space-between;

}


/* sub footer */

.sub-footer {
    background-color: #b9cde4;
    padding: var(--padding-inline-section)0;

}

.sub-footer-containear {

    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;


}

